body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    background-color: white;
}
.judul{
    flex: 50%;
}
.menu{
    flex: 50%;
    text-align: right;
    margin-top: 15px;
    margin-right: 50px;
}
.container{
  height: 500px;
  display: flex;
}
.gambar{
    flex: 50%;
    background-color: white;
    margin-top: 40px;
}
.teks{
    flex: 50%;
    font-size: 20;
    text-align: right;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 80px;
}
.cover{
    height:480px;
    background-color: darkslategray;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
    border-radius: 0px;
}
.kolom{
    text-align: center;
}
.header h1{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 20px;
}
.header ul li{
    display: inline-block;
    font-weight: bold;
   margin-left: 20px;
}
.alas{
    height: 450px;
    background-color: rgb(102, 136, 136);
    display: flex;
}
.img{
    flex: 50%;
    background-color: rgb(102, 136, 136);
    padding: 50px;
   
}
.isi{
    flex: 50%;
    padding: 40px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.footer{
    text-align: center;
    margin-top: 50px;
}